main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

input, button{
    width: 125px;
    height: 25px;
    font-size: 20px;
}

button{
    text-align: center;
    align-items: center;
}
